/*
Put here your own style
*/

.row-red A.row-red {
	font-weight: bold;
	color: #FF0000;
}

/* To have less height for rows 
.ox-list-pair, .ox-list-odd {  
	height: 20px;
}
*/

/* 
body {
	font-size: 9px;
}
*/
