<?xml version="1.0" encoding="UTF-8"?>
# 
String schema = properties.getProperty("arg3");
# 

<RDBSchema:RDBSchema xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:RDBSchema="RDBSchema.xmi" xmi:id="#(schema)#" name="#(schema)#">
  <database href="META-INF/backends/OPENXAVA/DB.dbxmi##DB"/>
  <tables xmi:type="RDBSchema:RDBTable" href="META-INF/backends/OPENXAVA/EUROPA_JAVI_PERSONA.tblxmi##PERSONA"/>
</RDBSchema:RDBSchema>
