	public org.openxava.test.ejb.WarehouseKey getWarehouseKey() {
		org.openxava.test.ejb.WarehouseKey key = new org.openxava.test.ejb.WarehouseKey();
		key._Number = getWarehouseNumber();
		key.zoneNumber = getWarehouseZoneNumber();
		return key;
	}

	public void setWarehouseKey(org.openxava.test.ejb.WarehouseKey warehouseKey) {
		setWarehouseNumber(warehouseKey._Number);
		setWarehouseZoneNumber(warehouseKey.zoneNumber);
	}

	private int warehouseZoneNumber;	
	public int getWarehouseZoneNumber() {
		return warehouseZoneNumber;
	}
	public void setWarehouseZoneNumber(int newWarehouseZoneNumber) {
		warehouseZoneNumber = newWarehouseZoneNumber;
	}
	
	private Integer warehouseNumber;	
	public Integer getWarehouseNumber() {
		return warehouseNumber;
	}
	
	public void setWarehouseNumber(Integer newWarehouseNumber) {
		warehouseNumber = newWarehouseNumber;
	}
	