	/**
	 * @ejb:interface-method
	 */
	public org.openxava.test.model.WarehouseKey getWarehouseKey() {
		org.openxava.test.model.WarehouseKey key = new org.openxava.test.model.WarehouseKey();
		key._Number = getWarehouseNumber();
		key.zoneNumber = getWarehouseZoneNumber();
		return key;
	}

	/**
	 * @ejb:interface-method
	 */
	public void setWarehouseKey(org.openxava.test.model.WarehouseKey warehouseKey) {
		setWarehouseNumber(warehouseKey._Number);
		setWarehouseZoneNumber(warehouseKey.zoneNumber);
	}
	
	/**	
	 * @ejb:persistent-field
	 *
	 * @jboss:column-name "ZONE"
	 */
	public abstract int getWarehouseZoneNumber();
	public abstract void setWarehouseZoneNumber(int newWarehouseZoneNumber);

	
	/**
	 * @ejb:persistent-field
	 *
	 * @jboss:column-name "WAREHOUSE"
	 */
	public abstract Integer getWarehouseNumber();
	public abstract void setWarehouseNumber(Integer newWarehouseNumber);
	